<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      シフト削除
    </title>
  </head>
  <body>
    シフトを削除しました。
    <p>
      <button type="button" onclick="location.href=window.location.origin+'/my_page'">
	  ホームへ
      </button>
    </p>
  </body>
</html>
