<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>None shift</title>
  </head>
  <body>
    まだシフトは投稿されていません。
    <p>
      <button type="button" onclick="location.href=window.location.origin+'/my_page'">
	Topへ
      </button>
    </p>
  </body>
</html>
