<html>
  <head>
    <meta charset="utf-8">
    </meta>
    <title>
      エラー
    </title>
  </head>
  <body>
    エラー<br>
    <button type="button" onclick="location.href=window.location.origin+'/home'">
      ホームへ
    </button>
  </body>
</html>
