<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      シフト登録完了
    </title>
  </head>
  <body>
    シフトの入力が完了しました
    <p>
      <button type="button" onclick="location.href=window.location.origin+'/my_page'">
	Topへ
      </button>
    </p>
  </body>
</html>
