<html>
  <head>
    <meta charset="utf-8">
    </meta>
    <title>
      新規登録完了
    </title>
  </head>
  <body>
    登録が完了しました。<br>
    <button type="button" onclick="location.href=window.location.origin+'/home'">
      ホームヘ
    </button>
  </body>
</html>
