<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      マイページ
    </title>
  </head>
  <body>
    <p>
      <%- message %>
    </p>
    <p>
      <button type="button" onclick="location.href=window.location.origin+'/my_page'">
	   Topへ
      </button>	
    </p>
  </body>
</html>
